{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-sql"],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "*.sql", "options": { "language": "mysql" } }
  ]
}
